h1 Discordの投稿一覧

- if current_user
  .d-flex.align-items-center.gap-2
    = image_tag current_user.avatar_url,
            size: "40x40",
            class: "rounded-circle"

    span = current_user.name

= button_to '/logout',
        method: :delete,
        data: { turbo: false },
        class: 'btn btn-primary d-inline-flex align-items-center gap-2' do
  | ログアウト

.mb-3
  table.table.table-hover
    thead.thead-default
      tr
        th= DiscordMessage.human_attribute_name(:posted_at)
        th= DiscordMessage.human_attribute_name(:author)
        th= DiscordMessage.human_attribute_name(:content)
    tbody
      - @discord_messages.each do |message|
        tr
          td = message.posted_at
          td = message.author
          td = message.content

